/* Définition des variables */
:root {
    --main-color: rgb(39, 223, 22);
    --border-color: rgb(187, 187, 187);
}

/* Définition des animations */
@keyframes backInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    80% {
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes backInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    80% {
        transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Application des animations */
section {
    animation: backInDown 1.3s ease;
}

p {
    animation: backInDown 2s ease;
}

header {
    animation: backInRight 1s ease;
}

/* Styles généraux */
* {
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 1.10rem;
}

input {
    height: 50px;
    padding: 8px 20px;
    border: 1px solid;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    box-shadow: 0px 14px 14px 4px #03097618;
}

h1 {
    font-size: 27px;
}

h2 {
    font-size: 2rem;
}

h3, p {
    font-family: 'Shrikhand', sans-serif;
}

body {
    width: 100%;
    user-select: none;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
    background-image: linear-gradient(to right, rgba(26, 73, 49, 0.829), rgba(34, 150, 16, 0.541));
    color: #4a4a4a;
    border-radius: 8px;
    border-style: inset;
    box-shadow: 0px 14px 14px 4px #03097618;
}

header a {
    font-size: 1.35rem;
    color: #63d70a;
    padding: 22px;
   
    border: 3px solid #ffee02;
    border-radius: 20px;
    border-style: outset;
    background-color: #285406;
}


header li :hover {
    color: #214605;
    background-color: #ffd001b5;
    border: 3px solid #2a5b05;
    border-radius: 20px;
    border-style: inset;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

nav ul {
    list-style: none;
    margin-bottom: 25px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

nav li {
    margin-right: 20px;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
    border: 9px solid #dad9cc;
    border-style: groove;
    border-radius: 20px;
    padding: 35px;
    box-shadow: 0px 14px 14px 4px #0103281d;
   
}

section p {
    font-family: Arial, Helvetica, sans-serif;
    color: #1E1E1E;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


    
section li {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: calc(40% - 20px);
    min-height: 100px;
    
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
    border: #1211116e;
    border-style: inset;
    box-shadow: 4px 4px 4px 4px #0103284a;
    align-items: center;
}

section li:hover {
    background-image: linear-gradient(to left, rgba(54, 62, 58, 0.26), rgba(255, 255, 255, 0.014));
}

pre {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: #1E1E1E;
    color: #2dec0c;
    padding: 10px;
    margin-right: 2%;
    font-size: 1.25rem;
    box-shadow: 0px 14px 14px 4px #021f041d;
}

div p {
    font-style: italic;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2.5rem;
    color: #4746409e;
}

aside section li {
    border-style: inset;
    font-style: italic;
}

aside section li:hover {
    border-color: rgba(236, 190, 7, 0.573);
    background-image: linear-gradient(to right, rgba(58, 73, 26, 0.068), rgba(44, 59, 42, 0.068));
}

footer {
    color: #fff200;
    box-shadow: 14px 0px 14px 4px #03097618;
    text-align: center;
    padding: 5px;
    bottom: 0;
    width: 100%;
    border-radius: 8px;
    background-image: linear-gradient(to right, rgba(26, 73, 49, 0.829), rgba(123, 150, 16, 0.541));
    color: #dcd50f;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    header {
        flex-wrap: wrap;
        flex-direction: column;
    }

    header a {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    section li {
        width: 97%;
    }
}
